* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-image: url('./black-forest-upscaled.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px rgba(220, 20, 60, 0.548);
    position: relative;
    color: white;
    font-weight: 600;
    background-color: rgba(220, 20, 60, 0.548);
    top: 50px;
    height: 45px;
    width: 30%;
    text-align: center;
}

.success {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px rgba(23, 182, 23, 0.548);
    color: white;
    font-weight: 600;
    background-color: rgba(23, 182, 23, 0.548);
    height: 45px;
    width: 30%;
    text-align: center;
}

.navigation-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    backdrop-filter: blur(10px);
    border: 2px solid black;
}

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 140px;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    text-align: center;
    backdrop-filter: blur(8px);
    gap: 15px;
    box-shadow: 0px 0px 5px black;
}

.auth-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 45px;
}

.auth-bar a {
    padding: 8px;
    border-radius: 7px;
    color: white;
    font-weight: 600;
}

#logo {
    font-size: 22px;
    color: white;
    transition: all 0.2s;
}

.navigation-bar span {
    color: lightgreen;
    transition: all 0.2s;
}

.add-quote {
    position: relative;
    right: 125px;
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 7px;
    color: white;
    font-weight: 600;
    transition: all 0.2s;
}

.profile {
    position: relative;
    right: 300px;
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 7px;
    color: white;
    font-weight: 600;
    transition: all 0.2s;
}

.login {
    border: 1px solid transparent;
    transition: all 0.2s;
}

.signup {
    border: 1px solid transparent;
    transition: all 0.2s;
}

.logout {
    border: 1px solid transparent;
    transition: all 0.2s;
}

.add-quote:hover, .profile:hover {
    border: 1px solid white;
}

.login:hover, .signup:hover {
    border: 1px solid white;
}

.logout:hover {
    border: 1px solid white;
}

#logo:hover {
    color: lightgreen;
}