* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-image: url('./black-forest-upscaled.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    margin-left: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px rgba(220, 20, 60, 0.548);
    position: relative;
    color: white;
    font-weight: 600;
    background-color: rgba(220, 20, 60, 0.548);
    top: 10px;
    height: 45px;
    width: 30%;
    text-align: center;
}

.success {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px rgba(23, 182, 23, 0.548);
    position: relative;
    color: white;
    font-weight: 600;
    background-color: rgba(23, 182, 23, 0.548);
    height: 45px;
    top: 10px;
    width: 30%;
    text-align: center;
}

.profile-container {
    display: flex;
    color: white;
    width: 45%;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 4px;
    height: 120px;
    backdrop-filter: blur(8px);
}

.profile-information {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.posts-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    width: 45%;
    margin-top: 30px;
}

.post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 140px;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    text-align: center;
    backdrop-filter: blur(8px);
    box-shadow: 0px 0px 5px black;
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 30%;
    gap: 7px;
}

.active {
    padding: 3px 7px;
    border: 2px solid rgb(43, 43, 250);
    color: white;
    background-color: rgb(66, 66, 252);
    font-weight: 600;
    transition: all 0.2s;
}

.inactive {
    padding: 1px 5px;
    border: 2px solid rgb(43, 43, 250);
    font-weight: 600;
    color: white;
    transition: all 0.2s;
}

.links {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.navigation-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    backdrop-filter: blur(10px);
    border: 2px solid black;
}

.auth-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 45px;
}

.auth-bar a {
    padding: 8px;
    border-radius: 7px;
    color: white;
    font-weight: 600;
}

input {
    padding: 2px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
}

.choose-avatar {
    cursor: pointer;
    font-weight: 600;
    border: 1px solid white;
    padding: 5px;
    transition: all 0.2s;
}

.change-avatar {
    cursor: pointer;
    font-weight: 600;
    border: 1px solid white;
    padding: 5px;
    transition: all 0.2s;
}

.change-form {
    position: absolute;
    top: 140px;
    right: 470px;
}

.choose-form {
    margin-left: 10px;
    margin-right: 20px;
}

#logo {
    font-size: 22px;
    color: white;
    transition: all 0.2s;
}

.post-container p {
    margin-top: 10px;
}

.edit-link {
    color: white;
    padding: 4px;
    background-color: orange;
    border-radius: 5px;
    border: 1px solid transparent;
}

.delete-link {
    color: white;
    padding: 4px;
    background-color: crimson;
    border-radius: 5px;
    border: 1px solid transparent;
}

.navigation-bar span {
    color: lightgreen;
    transition: all 0.2s;
}

.add-quote {
    position: relative;
    right: 125px;
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 7px;
    color: white;
    font-weight: 600;
    transition: all 0.2s;
}

.profile {
    position: relative;
    right: 300px;
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 7px;
    color: white;
    font-weight: 600;
    transition: all 0.2s;
}

.logout {
    border: 1px solid transparent;
    transition: all 0.2s;
}

.add-quote:hover, .profile:hover {
    border: 1px solid white;
}

.logout:hover {
    border: 1px solid white;
}

#logo:hover {
    color: lightgreen;
}

.edit-link:hover {
    box-shadow: 0px 0px 2px orange;
}

.delete-link:hover {
    box-shadow: 0px 0px 2px crimson;
}

.change-avatar:hover, .choose-avatar:hover {
    border-color: rgb(202, 202, 202);
}

input:hover {
    background-color: rgb(202, 202, 202);
}

.active:hover {
    color: rgb(209, 209, 209);
}

.inactive:hover {
    background-color: rgb(66, 66, 252);
    transform: scale(1.3);
}