{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='main_css/add-quote.css') }}">
<title>Add Your Quote</title>
{% endblock %}

{% block content %}

<main>
    <div class="form-container">
        <form method="post">
            <label for="text">Your Quote</label><br>
            <textarea name="text" id="text" placeholder="Quote beginning is here" cols="30" rows="6"></textarea><br>
            <input type="submit" value="Create Quote" class="submit-button">
        </form>
    </div>
</main>

{% endblock %}