{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='main_css/main.css') }}">
<title>Main Page</title>
{% endblock %}

{% block content %}

<main>
    {% for category, message in get_flashed_messages(True) %}
    <div class="flash {{ category }}">{{ message }}</div>
    {% endfor %}
    {% if current_user.is_authenticated %}
        {% for quote in quotes %}
        <div class="quote-container">
            <h1>{{ quote.author.username }}</h1>
            <h3>{{ quote.text }}</h3>
            <p>{{ quote.created_at.date() }}</p>
        </div>
        {% endfor %}
        <div class="page-container">
        {% for page_num in quotes.iter_pages(left_current=1, right_current=1, left_edge=1, right_edge=1) %}
        {% if page_num %}
        {% if page_num == quotes.page %}
            <a href="{{ url_for('main.main_page', page=page_num) }}" class="active" style="text-decoration: none;">{{ page_num }}</a>
        {% else %}
            <a href="{{ url_for('main.main_page', page=page_num) }}" class="inactive" style="text-decoration: none;">{{ page_num }}</a>
        {% endif %}
        {% else %}
            ...
        {% endif %}
        {% endfor %}
        </div>
    {% endif %}
</main>

{% endblock %}